/*
    Document   : public/css/custom.css
    Created on : 2015-12-11 07:07 PM
    Author     : stoned-code-warrior
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

.actionlinks{
    background-color : #4A913C;
}